<% layout('layout/boilerplate') %> <!-- Include the layout here -->

<div class="container my-5">
  <div class="row mt-3">
    <div class="col-8 offset-2">

      <h3>Create New Listing</h3>

      <form action="/listings" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="" class="form-control"></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="text" name="listing[image][url]" placeholder="Enter image URL/link" class="form-control">
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="1500" class="form-control">
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control">
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" placeholder="Ballia, Uttar Pradesh" class="form-control">
        </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
      </form>

    </div>
  </div>
</div>
